.Wel{
    background-image: url("https://icon2.cleanpng.com/20171220/wee/drawing-vector-model-5a3ac9f4816323.50216783151380222853.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    text-align: center;
}